doctype html 
html 
    include ./components/head.pug 
    body 
        .decor-header
        include ./components/header.pug 
        .content
            .nav-line
                .nav-line-title Доставка и оплата
                .nav-line-path
                    a(href="index.html") Главная 
                    img(src="images/nav-line-between.svg", alt="" class="nav-line-between")
                    a(href="about-company.html" class="active") Доставка и оплата
            .catalog-menu.delivery-menu
                    .gradient-button
                        .catalog-menu-part#first-button Как оформить заказ
                    .gradient-button
                        .catalog-menu-part Условия оплаты
                    .gradient-button
                        .catalog-menu-part Условия доставки
                    .gradient-button
                        .catalog-menu-part Гарантия на товар
            .delivery-podmenu#register-offer
                .delivery-step-cards 
                    .step-card 
                        .img 
                            img(src="images/step-1.svg", alt="")
                        .step-text Добавьте выбранные товары в корзину
                    .step-card 
                        .img 
                            img(src="images/step-2.svg", alt="")
                        .step-text Проверьте в корзине правильность заказанных позиций 
                    .step-card 
                        .img 
                            img(src="images/step-3.svg", alt="")
                        .step-text Нажмите кнопку «Оформить заказ» или «Быстрый заказ».
                .delivery-register
                            .product-cards 
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Быстрый заказ или обычный? 
                                    
                                    .text Функция «Быстрый заказ» позволяет покупателю не проходить всю процедуру оформления заказа самостоятельно. Вы заполняете форму, и через короткое время вам перезвонит менеджер магазина. Он уточнит все условия заказа, ответит на вопросы, касающиеся качества товара, его особенностей. А также подскажет о вариантах оплаты и доставки.
                                        br
                                        br
                                        | По результатам звонка, пользователь либо, получив уточнения, самостоятельно оформляет заказ, укомплектовав его необходимыми позициями, либо соглашается на оформление 
                                        | в том виде, в котором есть сейчас. Получает подтверждение на почту или на мобильный телефон и ждёт доставки.
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Оформление заказа в стандартном режиме 
                                    .text Если вы уверены в выборе, то можете самостоятельно оформить заказ, заполнив по этапам всю форму.
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Заполняем форму
                                    .product-about-card-title-small Заполнение адреса
                                    .text Выберите из списка название вашего региона и населённого пункта. Если вы не нашли свой населённый пункт в списке, выберите значение «Другое местоположение» 
                                        | и впишите название своего населённого пункта в графу «Город». Введите правильный индекс.
                                    .product-about-card-title-small Доставка
                                    .text В зависимости от места жительства вам предложат варианты доставки. Выберите любой удобный способ. Подробнее об условиях доставки читайте в разделе «Доставка».
                                    .product-about-card-title-small Оплата
                                    .text Выберите оптимальный способ оплаты. Подробнее о всех вариантах читайте в разделе «Оплата».
                                    .product-about-card-title-small Покупатель
                                    .text Введите данные о себе: ФИО, адрес доставки, номер телефона. В поле «Комментарии к заказу» введите сведения, которые могут пригодиться курьеру, например: подъезды в доме считаются справа налево
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Оформление заказа
                                    .text Проверьте правильность ввода информации: позиции заказа, выбор местоположения, данные о покупателе. Нажмите кнопку «Оформить заказ».
                                        br
                                        br
                                        | Наш сервис запоминает данные о пользователе, информацию о заказе и в следующий раз предложит вам повторить к вводу данные предыдущего заказа. Если условия вам 
                                        | не подходят, выбирайте другие варианты.
                                    .finally
                                        img(src="images/finally.svg", alt="")
            .delivery-podmenu#condition
                .condition-text Интернет-магазин AquaVisa работает как с физическими, так и с юридическими лицами, осуществляя продажу оборудования и химии для бассейнов оптом и в розницу. Мы предлагаем наличный и безналичный расчет, принимаем банковские карты популярных платежных систем: Visa, Mastercard, МИР.
                .delivery-register.condition
                    .product-cards 
                        .card 
                            .product-about-title 
                                img(src="images/line-title.svg", alt="")
                                | Оплата для физических лиц   
                            .text 
                                img(src="images/point.svg", alt="" class='point')
                                | В Санкт-Петербурге и Ленинградской области – наличными при получении товара.
                            .text 
                                img(src="images/point.svg", alt="" class='point')
                                | В других регионах России – оплата по выставленному счету в любом удобном банке; денежный перевод на карту Сбербанка РФ
                        .card 
                            .product-about-title 
                                img(src="images/line-title.svg", alt="")
                                | Оплата для юридических лиц 
                            .text 
                                img(src="images/point.svg", alt="" class='point')
                                | В Санкт-Петербурге и Ленинградской области – по безналичному расчету или наличными при оформлении заказа.
                            .text 
                                img(src="images/point.svg", alt="" class='point')
                                | В других регионах России – по безналичному расчету.
                                br
                                br
                                | *На общих условиях отгрузка товаров проводится при проведении 100 % оплаты.
                        .card 
                            .product-about-title 
                                img(src="images/line-title.svg", alt="")
                                | Бонусы и скидки
                            .text 
                                | При регистрации на сайте AquaVisa мы дарим фиксированную скидку в размере 3 %. Кроме того, физические лица могут получить индивидуальную скидку в зависимости от суммы заказа. Для оптовых покупателей также действует система скидок.
            .delivery-podmenu#delivery-condition
                        .condition-text Мы доставляем оборудование и химию для бассейнов по Санкт-Петербургу и другим городам России.
                            br
                            br
                            | Доставка по Санкт-Петербургу осуществляется в течение 1-5 рабочих дней после оформления заказа при условии наличия товара на складе. Доставка производится ежедневно, включая выходные и праздничные дни (по предварительной договоренности), с 10:00 до 22:00.
                        .delivery-register
                            .product-cards 
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Доставка по Санкт-Петербургу и Ленинградской обл
                                    .product-about-card-title-small Для заказов стоимостью менее 5000 ₽
                                    .product-about-card-content 
                                        img(src="images/v-line.svg", alt="")
                                        .text В пределах КАД - 1000 ₽
                                            br
                                            | За пределами КАД до 50 км - 2000 ₽
                                            br
                                            | За пределами КАД далее 50 км - 2000 ₽ + 50 ₽ за каждый километр
                                    .product-about-card-title-small Для заказов стоимостью более 5000 ₽
                                    .product-about-card-content 
                                        img(src="images/v-line.svg", alt="")
                                        .text В пределах КАД - 750 ₽
                                            br
                                            | За пределами КАД до 50 км - 1500 ₽
                                            br
                                            | За пределами КАД далее 50 км - 1500 ₽ + 50 ₽ за каждый километр
                                    .text.product-about-card-attantion ВНИМАНИЕ! Товар доставляется только до подъезда!
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Доставка крупногабаритного товара
                                    .text.big-product-delivery Стоимость доставки крупногабаритного товара 
                                        | (Бассейны, купели, спа, павильоны, надводные
                                        | покрытия (ламели) согласовывается отдельно,
                                        | для этого свяжитесь по телефону 
                                        | с менеджером компании 8 (812) 40 000 40
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Доставка по России ‒ транспортными компаниями
                                    .text.text-delivery
                                        | Заказы, требующие отправки в регионы России,
                                        | доставляются транспортными компаниями до
                                        | склада в городе получателя. Если в городе
                                        | получателя нет офисов/складов ТК, по
                                        | согласованию с клиентом груз отправляется 
                                        | в ближайший город, в котором есть
                                        | представительство ТК.
                                        br
                                        br
                                        |Вы можете рассчитать стоимость доставки до
                                        | вашего города воспользовавшись калькулятором
                                        | доставки на сайте одной из транспортных
                                        | компаний:
                                    .partner-logo 
                                        img(src="images/partner.svg", alt="")
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Самовывоз
                                    .text.text-delivery
                                        | Самовывоз товара производится по адресу: г.
                                        | Санкт-Петербург, Витебский пр д 17 Перед
                                        | получением заказа, пожалуйста, убедитесь, что
                                        | он сформирован и находится в пункте выдачи
                                        | заказов, предварительно позвонив по телефону
                                        | 8 812 40 000 40
                                    .card-map 
                                        img(src="images/card-map.svg", alt="")
            .delivery-podmenu#guarantee
                        .condition-text Гарантийный период – это срок, во время которого клиент, обнаружив недостаток товара имеет право потребовать от продавца или изготовителя принять меры по устранению дефекта. Продавец должен устранить недостатки, если не будет доказано, что они возникли вследствие нарушений покупателем правил эксплуатации.
                        .delivery-register
                            .product-cards 
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | С какого момента начинается гарантия?
                                    .product-about-card-content 
                                        img(src="images/big-v-line.svg", alt="")
                                        .text С момента передачи товара потребителю, если в договоре нет уточнения
                                            br
                                            | Если нет возможности установить день покупки, то гарантия идёт с момента изготовления
                                            br
                                            | На сезонные товары гарантия идёт с момента начала сезона
                                            br
                                            | При заказе товара из интернет-магазина гарантия начинается со дня доставки
                                    .product-about-card-title-small Обслуживание по гарантии включает в себя:
                                    .product-about-card-content 
                                        img(src="images/v-line.svg", alt="")
                                        .text Устранение недостатков товара 
                                            | в сертифицированных сервисных центрах
                                            br
                                            | Обмен на аналогичный товар без доплаты
                                            br
                                            | Обмен на похожий товар с доплатой
                                            br
                                            | Возврат товара и перечисление денежных средств на счёт покупателя
                                    
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Правила обмена и возврата товара
                                    .product-about-card-title-small Обмен и возврат продукции надлежащего качества
                                    .text Продавец гарантирует, что покупатель в течение 7 дней с момента приобретения товара может отказаться от товара надлежащего качества, если:
                                    .product-about-card-content 
                                        img(src="images/v-line.svg", alt="")
                                        .text Товар не поступал в эксплуатацию и имеет товарный вид, находится в упаковке со всеми ярлыками, а также есть документы 
                                            | на приобретение товара
                                            br
                                            | Товар не входит в перечень продуктов надлежащего качества, не подлежащих возврату и обмену.
                                    .text Покупатель имеет право обменять товар надлежащего качество на другое торговое предложение этого товара или другой товар, идентичный по стоимости или на иной товар с доплатой или возвратом разницы в цене.
                                    
                                    .product-about-card-title-small Обмен и возврат продукции ненадлежащего качества
                                    .text Если покупатель обнаружил недостатки товара после его приобретения, то он может потребовать замену у продавца. Замена должна быть произведена в течение 7 дней со дня предъявления требования. В случае, если будет назначена экспертиза на соответствие товара указанным нормам, то обмен должен быть произведён в течение 20 дней.
                                    br
                                    .text Технически сложные товары ненадлежащего качества заменяются товарами той же марки или на аналогичный товар другой марки с перерасчётом стоимости. Возврат производится путем аннулирования договора купли-продажи и возврата суммы в размере стоимости товара.
                                    
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Возврат денежных средств
                                    .text Срок возврата денежных средств зависит от вида оплаты, который изначально выбрал покупатель.
                                    br
                                    .text При наличном расчете возврат денежных средств осуществляется на кассе не позднее через через 10 дней после предъявления покупателем требования о возврате.
                                    br
                                    .text Зачисление стоимости товара на карту клиента, если был использован безналичный расчёт, происходит сразу после получения требования от покупателя.
                                    br
                                    .text При использовании электронных платёжных систем, возврат осуществляется на электронный счёт в течение 10 календарных дней.
                                    .return
                                        img(src="images/return.svg", alt="")
        .help
            .light-point
            .help-decor
            .label Остались вопросы?
            .content
                .label-text Получите помощь специалиста
                .card.card-help
                    img(src="images/card.svg", alt="")
                    .card-text Данные успешно отправлены, спасибо!
                    a.help-button.return-site(href="index.html") Вернуться на сайт
                form.help-form(action="", method="post")
                    .input-contact
                        .input
                            input(type="text", name="name", placeholder="Ваше имя")
                            .hr
                        .input
                            input(type="tel", name="phone", placeholder="Телефон")
                            .hr
                    .help-text
                        | Нажимая на кнопку «Отправить заявку», Вы соглашаетесь с условиями на передачу
                        | персональных данных
                    input.help-button(type="submit", value="Отправить заявку")
        include ./components/footer.pug