doctype html 
html 
    include ./components/head.pug 
    body 
        .decor-header
        include ./components/header.pug 
        .content
            .nav-line
                .nav-line-title Освещение для бассейнов
                .nav-line-path
                    a(href="index.html") Главная 
                    img(src="images/nav-line-between.svg", alt="" class="nav-line-between")
                    a(href="blog.html" class="active") Блог
            .blog-page 
                .blog-page-left
                    .img 
                        img(src="images/light-for-pool.png", alt="")
                    a(href="#" class='blue-link')
                        img(src="images/show-all.svg", alt="")
                        | Вернуться в блог 
                .blog-page-text Подсветка для искусственного водоема создает не только красивый визуальный эффект, 
                    | но и обеспечивает безопасность эксплуатации в ночное время. Качественный прожектор 
                    | для бассейна наполнит пространство чаши ярким и насыщенным светом.
                    br
                    br
                    | Чтобы сделать правильный выбор, нужно ознакомиться с перечнем предложений: 
                    br
                    | · подсветка чаши – установка над поверхностью воды или на 30 см от верхнего края бассейна;
                    br
                    | · подводные прожекторы – установка на стенках и в полу под водой;
                    br
                    | · плавающие лампы – питание не зависит от электросети, находятся на поверхности воды 
                    | в виде шаров или других форм;
                    br
                    | · локальная подсветка – для выделения определенных зон с целью зонирования или подсветки декоративных элементов.
                    br
                    br
                    | Прожектор для бассейна светодиодный обладает высокой степенью герметизации 
                    | и защиты от воздействия воды. Уровень водоустойчивости не меньше IP68.
                    br
                    br
                    | Герметичный корпус изделий изготовлен из АВS-пластика или нержавейки. 
                    | Он обеспечивает максимальную устойчивость к воздействию:
                    br
                    | · ультрафиолета;
                    br
                    | · химических веществ;
                    br
                    | · влаге.
                    br
                    br
                    | Все металлические элементы подводного прожектора для бассейна изготовлены 
                    | из нержавеющей стали. Материал дополнительно проходит обработку антикоррозийным раствором.
                    br
                    br
                    | В отличие от галогенных ламп, LED модели отличаются низким электропотреблением. 
                    | Если вы решили купить прожектор светодиодный для бассейна, то вы получите расход энергии в 10-15 раз меньше. Такие модели легко монтируются и быстро заменяются.
                    br
                    br
                    | LED-прожекторы выше по стоимости. Однако их цена полностью компенсируется экономным расходом электроэнергии и длительным сроком службы. Они могут служить до 60 тыс. часов. При работе они нагреваются не так интенсивно как галогенные лампы.
                    br
                    br
                    | Все модели отличаются высокой механической прочностью корпуса. При меньшем размере светодиодная лампа прожектора бассейна способна давать более интенсивный поток света. В продаже представлены лампы, которые светят различными цветами.
                    br
                    br
                    | Преимущества нашего интернет магазина:
                    br
                    | · широкий ассортимент;
                    br
                    | · высокое качество;
                    br
                    | · доступные цены;
                    br
                    | · гарантия на все изделия;
                    br
                    | · быстрая доставка в любой город.
                    br
                    br
                    | В нашем интернет-магазине представлена разнообразная осветительная техника, с помощью которой можно визуально подчеркнуть красоту ночного бассейна и обеспечить в водном пространстве оптимальные условия для плавания.

        include ./components/footer.pug