doctype html 
html 
    include ./components/head.pug 
    body 
        .decor-header
        include ./components/header.pug 
        .content
            .nav-line
                .nav-line-title Композитный бассейн ROYAL 9037 
                .nav-line-path
                    a(href="index.html") Главная 
                    img(src="images/nav-line-between.svg", alt="" class="nav-line-between")
                    a(href="catalog.html") Каталог
                    img(src="images/nav-line-between.svg", alt="" class="nav-line-between")
                    a(href="product.html" class="active") Бассейны
            .product-about 
                .product-about-top 
                    .product-about-image 
                        .product-about-image
                            img(src="images/catalog-pool.png", alt="" class='main-image')
                        .product-about-image-color 
                            img(src="images/color-white.svg", alt="" id='white' class='color')
                            img(src="images/color-blue.svg", alt="" id='blue' class='color')
                            img(src="images/color-pink.svg", alt="" id='pink' class='color')
                    .product-about-top-left
                        .product-about-small-spec 
                            .product-about-title Характеристики
                            .product-about-table
                                .product-about-table-part 
                                    .product-about-table-name Гарантия
                                    img(src="images/social.svg", alt="")
                                    .product-about-table-value 24 мес.
                                .product-about-table-part 
                                    .product-about-table-name Длина
                                    img(src="images/social.svg", alt="")
                                    .product-about-table-value 9 м
                                .product-about-table-part 
                                    .product-about-table-name Ширина
                                    img(src="images/social.svg", alt="")
                                    .product-about-table-value 3.7 м
                                .product-about-table-part 
                                    .product-about-table-name Глубина
                                    img(src="images/social.svg", alt="")
                                    .product-about-table-value 1.4 - 1.7 м
                                a(href="#" class="blue-link") Подробнее
                        .product-about-action 
                            .product-about-price 476 000 ₽
                            button.product-about-order
                                img(src="images/buscket-white.svg", alt="")
                                | Заказать
                            .product-about-action-bottom 
                                .product-about-compare 
                                    img(src="images/compare.svg", alt="")
                                    | В сравнение
                                .product-about-like
                                    img(src="images/like.svg", alt="")
                                    | В избранное
                .product-about-info 
                    .product-about-info-menu 
                        a(href="" class='product-about-title active') 
                            | Описание
                            .img
                        a(href="" class='product-about-title') 
                            | Все характеристики
                            .img
                        a(href="#" class='product-about-title') 
                            | Оплата и доставка
                            .img
                    .product-about-info-content
                        #description.product-about-info-podmenu
                            .description-text 
                                | Комплектация:
                                br
                                |Фильтрация: подбирается индивидуально
                                br
                                |Встроенная лестница: Есть
                                br
                                |
                                br
                                |«Аквабиография», наши преимущества:
                                br
                                |Гарантия на бассейны - 25 лет
                                br
                                |Обширная цветовая гамма Aqua3D
                                br
                                |Неограниченные размеры бассейнов
                                br
                                |Ведущие разработки и уникальный дизайн
                                br
                                |Материалы и комплектующие от мировых лидеров
                                br
                                |Доставка специализированным транспортом компании
                        #specification.product-about-info-podmenu
                            .product-about-table
                                .product-about-table-part 
                                    .product-about-table-name Ширина
                                    img(src="images/long-line.svg", alt="")
                                    .product-about-table-value 370 см
                                .product-about-table-part 
                                    .product-about-table-name Глубина
                                    img(src="images/long-line.svg", alt="")
                                    .product-about-table-value 1.4 - 1.7 м
                                .product-about-table-part 
                                    .product-about-table-name Длина
                                    img(src="images/long-line.svg", alt="")
                                    .product-about-table-value 900 см
                                .product-about-table-part 
                                    .product-about-table-name Объем
                                    img(src="images/long-line.svg", alt="")
                                    .product-about-table-value 36
                                .product-about-table-part 
                                    .product-about-table-name Форма
                                    img(src="images/long-line.svg", alt="")
                                    .product-about-table-value Прямоугольник
                                .product-about-table-part 
                                    .product-about-table-name Дно
                                    img(src="images/long-line.svg", alt="")
                                    .product-about-table-value Прямое
                        #delivery.product-about-info-podmenu
                            .delivery-information 
                                .product-about-title 
                                    img(src="images/line-title.svg", alt="")
                                    | Наличный расчёт
                                .product-about-text 
                                    |Вы можете оплатить покупку наличными в магазине или курьеру (при доставке товара).
                                .product-about-title 
                                    img(src="images/line-title.svg", alt="")
                                    | Банковские карты
                                .product-about-text 
                                    | Безналичная оплата банковской картой в магазине и 
                                    | при доставке. Принимаются карты следующих
                                    | платёжных систем: 
                                    br
                                    |
                                    br
                                    | «VISA», «MasterCard», «Золотая Корона», «МИР».
                                    | Безналичный расчет
                                    | Доступен для физических и юридических лиц
                                    | (ООО, ЧП, ИП и т.п.).
                            .product-cards 
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Доставка по Санкт-Петербургу и Ленинградской обл
                                    .product-about-card-title-small Для заказов стоимостью менее 5000 ₽
                                    .product-about-card-content 
                                        img(src="images/v-line.svg", alt="")
                                        .text В пределах КАД - 1000 ₽
                                            br
                                            | За пределами КАД до 50 км - 2000 ₽
                                            br
                                            | За пределами КАД далее 50 км - 2000 ₽ + 50 ₽ за каждый километр
                                    .product-about-card-title-small Для заказов стоимостью более 5000 ₽
                                    .product-about-card-content 
                                        img(src="images/v-line.svg", alt="")
                                        .text В пределах КАД - 750 ₽
                                            br
                                            | За пределами КАД до 50 км - 1500 ₽
                                            br
                                            | За пределами КАД далее 50 км - 1500 ₽ + 50 ₽ за каждый километр
                                    .text.product-about-card-attantion ВНИМАНИЕ! Товар доставляется только до подъезда!
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Доставка крупногабаритного товара
                                    .text.big-product-delivery Стоимость доставки крупногабаритного товара 
                                        | (Бассейны, купели, спа, павильоны, надводные
                                        | покрытия (ламели) согласовывается отдельно,
                                        | для этого свяжитесь по телефону 
                                        | с менеджером компании 8 (812) 40 000 40
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Доставка по России ‒ транспортными компаниями
                                    .text.text-delivery
                                        | Заказы, требующие отправки в регионы России,
                                        | доставляются транспортными компаниями до
                                        | склада в городе получателя. Если в городе
                                        | получателя нет офисов/складов ТК, по
                                        | согласованию с клиентом груз отправляется 
                                        | в ближайший город, в котором есть
                                        | представительство ТК.
                                        br
                                        br
                                        |Вы можете рассчитать стоимость доставки до
                                        | вашего города воспользовавшись калькулятором
                                        | доставки на сайте одной из транспортных
                                        | компаний:
                                    .partner-logo 
                                        img(src="images/partner.svg", alt="")
                                .card 
                                    .product-about-title 
                                        img(src="images/line-title.svg", alt="")
                                        | Самовывоз
                                    .text.text-delivery
                                        | Самовывоз товара производится по адресу: г.
                                        | Санкт-Петербург, Витебский пр д 17 Перед
                                        | получением заказа, пожалуйста, убедитесь, что
                                        | он сформирован и находится в пункте выдачи
                                        | заказов, предварительно позвонив по телефону
                                        | 8 812 40 000 40
                                    .card-map 
                                        img(src="images/card-map.svg", alt="")
                    .product-acsess 
                        .product-acsess-title 
                        .product-cards
                            - for (var x = 0; x < 5; x++)
                                .card 
                                    .product-image
                                        img(src="images/acsess.png", alt="")
                                    .price 476 000 ₽
                                    a(class='.product-title' href='product-page.html') Композитный бассейн ROYAL 9037 (с ППУ, цвет голубой)
                                    .art Артикул:18485
                                    .product-button
                                        button.order 
                                            img(src="images/buscket.svg", alt="")
                                            .order-text Заказать
                                        button.compare 
                                            img(src="images/compare.svg", alt="")
                                        button.like 
                                            img(src="images/like.svg", alt="")
        include ./components/footer.pug