@media (max-width: 960px) {
  .menu-block {
    height: 450px;
  }

  .menu-block-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-block-profile {
    font-size: 20px;
  }
  .menu-block-profile img {
    width: 37px;
    height: 39px;
    margin-right: 16px;
  }

  .menu-block-close {
    width: 35px;
    height: 35px;
  }
  .menu-block-close img {
    width: 35px;
    height: 35px;
  }

  .arrow-up-button, .pool {
    display: none;
  }

  .header-content-text-big, .header-content-text-small {
    width: 100%;
  }

  .header-content-text {
    width: 62.5vw;
    height: 245px;
  }

  .logo {
    background-image: url(images/logo.svg);
    background-size: cover;
    width: 98px;
    height: 48px;
  }

  .menu-button {
    background: none;
    width: 65px;
    height: 65px;
    border: none;
  }
  .menu-button img {
    width: 65px;
    height: 65px;
  }

  .header-nav {
    height: 78px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .about-us-2 {
    height: 900px;
  }

  .about-us-2-content {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .about-us-item {
    width: 282px;
    height: auto;
  }

  .about-us-item-h {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .about-us-item-text {
    height: auto;
    margin-bottom: 50px;
  }

  .input-contact {
    width: calc(100vw - 100px);
  }
  .input-contact .input input, .input-contact .input .hr {
    width: 40vw;
  }

  .about-us-1-content-text {
    align-self: end;
    width: 60vw;
    padding-right: 50px;
  }

  .header-content-text-button {
    height: 55px;
  }

  .footer .content {
    font-size: 14px;
  }

  .card-help {
    width: 400px;
    height: 230px;
    overflow: hidden;
  }
  .card-help .card-text {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  .card-help .help-button {
    width: 230px;
    height: 50px;
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .nav-line {
    height: 100px;
  }
  .nav-line .nav-line-title {
    font-size: 30px;
  }
  .nav-line .nav-line-path {
    font-size: 16px;
  }

  .catalog-menu {
    flex-flow: nowrap;
    flex-direction: column;
  }

  .catalog-menu .gradient-button {
    background: none;
  }

  .catalog-menu-part {
    padding: 10px 15px;
    font-size: 14px;
  }

  .content-catalog .gradient-button {
    border-radius: 24px;
    margin: 10px 0;
  }

  #button-catalog {
    display: block;
  }

  .button-choise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 60px);
    height: 39px;
    background-color: #101014;
    padding: 0 15px;
    border-radius: 24px;
    font-size: 14px;
  }

  .content {
    padding-left: 15px;
  }

  .menu-block {
    height: 834px;
  }

  .menu-block-content {
    flex-direction: column;
    height: 650px;
    padding-left: 36px;
  }

  .menu-block-social a img {
    width: 45.3125vw;
    margin-right: 0;
  }

  .menu-block-list a {
    height: 43px;
  }

  .menu-block-social a {
    flex-direction: row-reverse;
    align-self: flex-start;
  }

  .menu-block-contact-bottom-part {
    text-align: start;
  }

  .menu-block-contact {
    height: 260px;
    justify-content: space-between;
    width: calc(100vw - (10.4166666667vw + 36px));
    overflow: hidden;
  }

  .header-image {
    right: 0;
  }

  .header-content {
    width: 41.6666666667vw;
  }

  .background-under {
    display: none;
  }

  .header-content {
    padding-left: 40px;
  }

  .background-header {
    background-image: url(images/header-background-mobile.svg);
    position: absolute;
    width: 100vw;
    height: 284.375vw;
    top: 0;
    right: 0;
  }

  .header-content {
    height: 171.875vw;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100vw - 30px);
  }

  .header-content-text {
    width: calc(100vw - 30px);
    height: 261px;
  }

  .header-content-text-big {
    font-size: 30px;
  }

  .header-content-text-button {
    height: 55px;
    width: 100%;
  }

  .label {
    padding-left: 15px;
    width: 78.125vw;
  }

  .offer-card-line .card {
    font-size: 14px;
    width: 82.8125vw;
    height: 48.125vw;
  }

  .offers {
    height: 118.75vw;
  }

  .offer-card-line {
    width: 337.5vw;
    padding-left: 10px;
  }
  .offer-card-line .card img {
    width: 17.1875vw;
    height: 20.3125vw;
  }
  .offer-card-line .card:first-child img {
    width: 37.5vw;
  }

  .about-us-1 {
    flex-direction: column;
    height: 270.3125vw;
    padding-left: 15px;
  }

  .about-us-1-content {
    height: 270.3125vw;
    position: static;
    overflow: hidden;
  }

  .about-us-1-content-text {
    width: calc(100vw - 30px);
    font-size: 14px;
  }

  .about-us-number {
    width: 84.375vw;
    height: 97.5vw;
  }

  .about-us-1-content-images {
    display: flex;
  }
  .about-us-1-content-images img {
    width: 70vw;
    height: 82.1875vw;
    margin: 15px;
  }

  .about-us-1-decor {
    background-image: url(images/01-decor-mobile.svg);
    width: 100vw;
    height: 159.375vw;
    margin-top: 87.5vw;
  }

  .about-us-2 {
    flex-direction: column;
    height: 1250px;
    padding-left: 15px;
  }
  .about-us-2 .about-us-number {
    width: 84.375vw;
    height: 55.3125vw;
  }

  .about-us-1-content {
    height: 1200px;
  }

  .content {
    padding-left: 15px;
  }

  .label-text {
    font-size: 14px;
  }

  .input-contact {
    flex-direction: column;
  }
  .input-contact .input input, .input-contact .input .hr {
    width: calc(100vw - 30px);
  }
  .input-contact .input input::placeholder {
    font-size: 20px;
  }

  .help-text {
    font-size: 12px;
    width: 78.125vw;
  }

  .help-button {
    width: calc(100vw - 30px);
    height: 55px;
  }

  .help-decor {
    background-image: url(images/help-decor-mobile.svg);
    width: 290px;
    height: 550px;
    margin-top: -230px;
  }

  .contact {
    flex-direction: column;
    height: 171.875vw;
    justify-content: space-between;
  }

  .contact-text {
    width: 100vw;
  }

  .map img {
    height: auto;
    width: 100vw;
  }

  .contact-text {
    height: 140px;
  }

  .contact-text-part {
    font-size: 24px;
    width: calc(100vw - 30px);
    letter-spacing: 0.07em;
  }

  .footer .content {
    flex-direction: column-reverse;
    width: calc(100vw - 30px);
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .right-footer {
    flex-direction: column;
    width: calc(100vw - 30px);
    align-items: center;
    height: 50px;
  }

  .offers .light-point {
    display: none;
  }

  .help .light-point {
    display: block;
    margin-top: 0;
  }

  .contact-decor {
    background-image: url(images/contact-decor-mobile.svg);
    width: 100vw;
    margin-top: 315px;
    height: 109.375vw;
  }

  .about-us-item {
    width: 88.125vw;
  }

  .about-us-2-content {
    margin: 0;
  }
}
@media (max-width: 420px) {
  .card-help {
    width: 90.625vw;
    height: 53.125vw;
  }
  .card-help .card-text {
    font-size: 14px;
  }
  .card-help .help-button {
    width: 54.6875vw;
    height: 11.875vw;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style-mobile.css.map */
