.footer
      .content
        .copyright 2021 © AquaVisa
        .right-footer
          a.offert(href="#") Договор оферты
          a.politic(href="#") Политика конфиденциальности
button.arrow-up-button
  .arrow-up-text наверх
  .arrow-up-arrow