.menu-block
      .menu-block-top
        button.menu-block-profile
          img(src="images/profile.svg", alt="")
          | Войти
        button.menu-block-close
          img(src="images/close.svg", alt="")
      .menu-block-content
        .menu-block-list.font-30
          a(href="index.html") Главная
          a(href="catalog.html") Каталог
          a(href="#") Акции
          a(href="#") Услуги 
          a(href="#") О компании
          a(href="#") Блог
          a(href="#") Доставка и оплата
          a(href="#") Контакты
        .menu-block-contact
          .menu-block-social
            a(href="#")
              img(src="images/social.svg", alt="")
              | Instagram
            a(href="#")
              img(src="images/social.svg", alt="")
              | Facebook
            a(href="#")
              img(src="images/social.svg", alt="")
              | Вконтакте
          .menu-block-contact-bottom
            .menu-block-contact-bottom-part sale@aquavisa.ru
            .menu-block-contact-bottom-part +7 (812) 40-000-40
.header
  .header-nav
    .logo
    button.menu-button
      img(src="images/menu.svg", alt="")